<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/contact.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      $(function () {
        $("#includeContent").load("navBar.html");
      });
    </script>
    <title>HomeLeaf</title>
  </head>
  <body>
    <div id="includeContent"></div>
    <div class="contactPage">
      <h1>GET IN TOUCH</h1>
      <h2>Customer service</h2>
      <h4>Questions? We're here to help!</h4>
      <p>
        If you need advice or help, just get in touch - we’ll be your personal
        plant gurus as long as you need us. If something’s up, tell us within 30
        days of delivery — we’ll sort it.
      </p>
      <p>Please email</p>
      <p id="email">homeleaf@gmail.com</p>
    </div>
  </body>
</html>
