<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/navBar.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <title>ExpressApp</title>
  </head>
  <body>
    <div class="navbar-container">
      <div class="nav-header">
        <div class="navtitle">
          <h1>HomeLeaf</h1>
        </div>

        <nav class="nav-menu-container">
          <ul class="navmenu">
            <li><a href="/">Home</a></li>
            <li><a href="/services.html">Our Services</a></li>
            <li><a href="/Contact.html">Contact us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
