<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/services.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      $(function () {
        $("#includeContent").load("navBar.html");
      });
    </script>
    <title>OurServices</title>
  </head>
  <body>
    <div id="includeContent"></div>

    <div class="services-container">
      <div id="service-card">
        <h1>Plants made easy</h1>
        <p>
          We helps you discover the best plants for your space, delivers them to
          your door and helps you look after them.
        </p>
        <p>
          Garden, balcony - you can transform any outside space with minimal
          effort.
        </p>
        <p>
          Plants bring homes to life, and they also bring life to your office.
          Adding plants into your space also helps to create a relaxing
          environment.
        </p>
        <p>
          Shop from our curated collection of low-maintenance plants perfect for
          a home or commercial office.
        </p>
        <button id="btn-shop">Shop</button>
      </div>
      <div id="service-card">
        <h1>Sets for all styles</h1>
        <p>
          We've gathered some of our most popular plants into sets to suit all
          types of plant parent, including those who need a bit of extra
          inspiration.
        </p>
        <p>Find your match.</p>
        <p>Discover and shop our most-popular plants, pots and accessories.</p>
        <button id="btn">Shop</button>
      </div>
      <div id="service-card">
        <h1>Makes plant care easy</h1>
        <p>
          We know what it’s like to be guilty of plant murder, we've pulled
          together a collection of plants who are low maintenance enough to
          forgive you for the odd missed watering.
        </p>
        <p>
          Our video courses, of How To Grow Stuff, will make you aware of
          everything you need to consider to keep your first plants alive.
        </p>
        <button id="btn2">Video courses</button>
      </div>
    </div>
  </body>
</html>
